<h1>Posts index</h1>
<div class="row">
<% @posts.each do |post| %>

<div class="large-4 small-12 columns">
    <h2><%= link_to post.title, post %></h2>
    <p> <%= post.created_at.strftime("%B, %d, %Y") %> </p>
</div>

<% end %>
</div>
